.App {
  text-align: center;
  margin-top: 20%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(247, 150, 5);
}

.App > div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}